
/*.home{
    width: 100%;
    position: relative;
    background: pink;
}*/

.mainView {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: pink;
    position: relative;
}

.mainViewHeader {
    width: 35vw;
    height: 100vh;
    background: #159293;
    border: .5px solid black;
    position: relative;
}

.gameTitle {
    position: absolute;
    width: 90%;
    height: 10%;
    top: 0%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bolder;  
    color: black; 
}

.gameGrid {
    width: 65vw;
    height: 100vh;
    background: lightblue;
    display: flex;
    position: relative;
    border: .5px solid black;
}

.gameGridInner {
    position: absolute;
    width: 90%;
    height: 70%;
    top: 10%;
    left: 5%;
    background: orange;
    /*margin: auto;*/
    display: flex;
    flex-direction: column;
    border: .5px solid black;
    z-index: 2;
}

.companySelect {
    position: absolute;
    width: 90%;
    height: 70%;
    top: 10%;
    left: 5%;
    background: orange;
    /*margin: auto;*/
    display: flex;
    flex-direction: column;
    border: .5px solid black;
    z-index: 3;
}

.mergeSelect {
    position: absolute;
    width: 90%;
    height: 70%;
    top: 10%;
    left: 5%;
    background: orange;
    /*margin: auto;*/
    display: flex;
    flex-direction: column;
    border: .5px solid black;
    z-index: 3;
}

.gameRow {
    height: 11.11%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: gray;
}

.gameColumn {
    height: 100%;
    width: 8.33%;
    justify-content: center;
    align-items: center;
    background: white;
    border: .5px solid gray;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    opacity: .9;
}

.gameColumnclear {
    height: 100%;
    width: 8.33%;
    justify-content: center;
    align-items: center;
    background: white;
    border: .5px solid gray;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    opacity: .5;
}

.gameColumnclear:hover {
    opacity: .7;
}

.gameColumnTaken {
    height: 100%;
    width: 8.33%;
    justify-content: center;
    align-items: center;
    background: white;
    border: .5px solid gray;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    opacity: .9;
}

.gameColumnBlue {
    height: 100%;
    width: 8.33%;
    justify-content: center;
    align-items: center;
    background: blue;
    border: .5px solid gray;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    opacity: .9;
}

.gameColumnRed {
    height: 100%;
    width: 8.33%;
    justify-content: center;
    align-items: center;
    background: red;
    border: .5px solid gray;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    opacity: .9;
}

.gameColumnOrange {
    height: 100%;
    width: 8.33%;
    justify-content: center;
    align-items: center;
    background: orange;
    border: .5px solid gray;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    opacity: .9;
}

.gameColumnYellow {
    height: 100%;
    width: 8.33%;
    justify-content: center;
    align-items: center;
    background: yellow;
    border: .5px solid gray;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    opacity: .9;
}

.gameColumnPurple {
    height: 100%;
    width: 8.33%;
    justify-content: center;
    align-items: center;
    background: purple;
    border: .5px solid gray;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    opacity: .9;
}

.gameColumnTeal {
    height: 100%;
    width: 8.33%;
    justify-content: center;
    align-items: center;
    background: teal;
    border: .5px solid gray;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    opacity: .9;
}

.gameColumnGreen {
    height: 100%;
    width: 8.33%;
    justify-content: center;
    align-items: center;
    background: green;
    border: .5px solid gray;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    opacity: .9;
}

.visibleTiles {
    width: 100px;
    height: 100px;
    background: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buyStock {
    position: absolute;
    width: 60%;
    height: 25%;
    background: lightgreen;
    right: 5px;
    bottom: 5px;
    /*z-index: -1;*/
}